/* Styles for the App component */

/* Global styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* Layout styles */
main {
  flex-grow: 1;
  padding: 24px;
}